@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Architects Daughter', cursive;
  line-height: 2.3;
}
body{
  color: white;
  background: black;
}
.main{
  display: flex;
  flex-direction: row;
}
.right-bar{
  padding-bottom: 110px;
}

#menu-close-main{
  display: none;
  padding-bottom: 50px;
}
.txt-muted{
  color: #8a8a8a;
  font-style: italic;
}
.text-justify{
  text-align: justify;
}
.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.left-bar{
  padding-left: 120px;
  padding-right: 120px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-right: 8px solid #030303;
  position: sticky;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 99;
}
.left-bar>.social-icons>img:nth-child(2), .left-bar>.social-icons>img:nth-child(3){
  margin-left: 10px;
}
.left-bar>.links>a{
  color: white;
  text-decoration: none;
}
.left-bar>.links>a>h1{
  margin-top: 40px;
  margin-bottom: 40px;
}
.middle-bar{
  display: none;
  margin-top: 50px;
  margin-left: 50px;
}
.pt{
  padding-top: 130px;
}
.mt-sm{
  padding-top: 50px;
}
.p-l-r{
  padding-left: 130px;
  padding-right: 130px;
}
.jova-anchor-he{
  margin-top: 20px;
}
.jova-anchor{
  color: white;
  text-decoration: none;
}
.jova-anchor:hover{
  text-decoration: underline;
}
@media only screen and (min-width: 2000px){
  body{
    margin: auto;
    width: 2000px;
  }
}
@media only screen and (max-width: 938px) {
  .jova-span{
    display: block;
  }
  #menu-close-main{
    display: block;
  }
  .left-bar>.links{
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .left-bar>.links>a{
    color: black;
  }
  .left-bar>.links>a>h1{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .left-bar{
    /* justify-content: flex-start; */
    padding-top: 60px;
    display: none;
    padding-left: 30px;
    padding-right: 30px;
    background: white;
    color: black;
    /* position: fixed; */

  }

  .middle-bar{
    display: grid;
    height: 100vh;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    padding-top: 130px;
  }
  .main{
    grid-template-columns: 1fr;
  }
  .p-l-r{
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media only screen and (max-height: 572px){
  .left-bar{
    height: 572px;
    overflow-y: scroll;
  }
  .left-bar>.links>a>h1{
    font-size: 22px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .left-bar>.logo>a>h1{
    font-size: 24px;
  }
  .left-bar>.logo>h2{
    font-size: 21px;
  }
  #menu-close{
    width: 20px;
    height: 20px;
  }
  #menu-close-main{
    padding-bottom: 10px;
  }
}


@media only screen and (max-width: 528px){
  .p-l-r{
    padding-left: 5px;
    padding-right: 15px;
  }
  .middle-bar{
    margin-top: 50px;
    margin-left: 10px;
    padding-right: 10px;
  }
  .pt{
    padding-top: 50px;
  }
}

@media only screen and (max-width: 315px){
  body{
    width: 315px;
  }
}
